<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Market</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- all links are there:    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <!-- Styling Start here :   -->
    <link rel="icon" href="../static/Images/favicon.png">
    <style>
        .searchBox:hover  .searchInput {
        width: 180px;
        padding: 0px;
        }
        .emarket{
            font-size: 40px;
            /* font-weight: bolder; */
            font-family: Aclonica;
            color: unset;
            background: -webkit-linear-gradient(rgb(0, 197, 187), rgb(0, 32, 92) );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            font-size: 18px;
        }
        .searchButton {
        color: rgb(82, 81, 81);
        font-size: 30px;
        display: flex;
        transition: 0.4s;
        }
    
        .searchInput {
        border:none;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 90px;
        padding: 0px;
        }
        #icon{
            font-size: 30px;
            color: rgb(82, 81, 81);
        }
        #image{
            height: 170px;
            width: 300px;
            margin-right: 320px;
        }
        .link{
            font-size: 20px;
        }
        .number{
            position: relative;
            bottom: 20px;
            font-size: 14px;
        }
        @media screen and (max-width:768px) {
            #image{
                margin-left: 5px;
                margin-right: -320px;
            }        
        }
        @media  screen and (max-width:1024px){
            #image{
                width: 220px;
            }
            .searchInput{width: 0px;}
        }
        @media screen and (width:768px) {
            .navbar-toggler{
                margin-left: 160px;
            }
        }
        @media screen and (max-width:768px) {
            .footer{margin-right: 0%;}
        }
        </style>
    {% block head%}{% endblock %}
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a href="" class="navbar-brand  emarket"><img src="/static/Images/emarketicon.png" height="250px" style="margin-top: -100px; margin-bottom: -100px;margin-right:-30px ;"></a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a href="" class="nav-link  link dropdown-toggle" data-toggle="dropdown">Shop</a>
                                    <div class="dropdown-menu">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row" id="cat-result">
                                                        <script>
                                                            function get_details(){
                                                                $.ajax({
                                                                url:"{% url 'all_categories' %}",
                                                                type:"get",
                                                                success:function(data){
                                                                    var output = "";
                                                                    for(i in data){
                                                                        output+= "<div class='col-lg-4 col-sm-12 border-right px-5 pb-2'>";
                                                                            output+="<h5 class='border-bottom py-2 mt-2'>"+data[i].customer_category_name+"</h5>";
                                                                            for(j in data[i].products){
                                                                                output+='<a href="/shop/" class="nav-link" >'+data[i].products[j].category_name+'</a>';
                                                                            }
                                                                        output+="</div>";
                                                                    }
                                                                    $("#cat-result").html(output);
                                                                }
                                                            })
                                                            }
                                                            setInterval(get_details, 1000);
                                                        </script>
                                                          <div class="col-lg-3 col-sm-12">
                                                           <div id="image" style="background: url(https://preview.colorlib.com/theme/essence/img/bg-img/bg-6.jpg);margin-top: 50px; background-size: cover;"></div>
                                                          </div>
                                                    </div>      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="{%url 'find'%}" class="nav-link link">Contact</a>
                                </li>
                            </ul>
                        </div>
                            <ul class="list-inline pt-3">
                            <li class=" list-inline-item">
                                <form class="px-3 form-row">
                                    <div class="form-row searchBox">
                                    <input class="searchInput form-control bg-transparent mt-1 border-bottom" type="search" onkeyup="search_products();" data-toggle="dropdown" placeholder="Search..." id="search_query">
                                    <button class="searchButton btn " id="search-btn-product"   type="" href="#"><i class="fas fa-search "></i></button>
                                    <li class="nav-item">
                                    <div class="dropdown-menu drops d-none">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12" >
                                                    <table class="table table-sm  table-striped ">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th></th>
                                                                <th>Name</th>
                                                                <th>Brand</th>
                                                                <th>Price</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searched-products"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </div>
                                </form>
                            </li>
                            <!-- <li class=" list-inline-item "><a href="{% url 'dashboard'%}" class="px-3  border-left nav-link"><i class=" far fa-heart" id="icon"></i></a></li> -->
                            <li class=" list-inline-item "><a href="{% url 'cart'%}" class="px-3  border-left nav-link"><i class=" fas fa-shopping-cart" id="icon"></i></a></li>       
                            {% if user.is_authenticated %}
                            <li class=" list-inline-item "><a href="{% url 'dashboard'%}" class="px-3  border-left nav-link"><i class=" far fa-user" id="icon"></i></a></li>
                            {% else %}
                            <li class=" list-inline-item "><a href="{% url 'login' %}" style="margin-top: -7px; text-transform: uppercase; font-weight: bold;" class="px-3  btn btn-outline-dark">Login</a></li>
                            {% endif %} 
                        </ul>    
                    </nav>
                </div>
            </div>
        </div>
    </header>
  {% block body %}{% endblock %}
  
    <div class="container-fluid bg-dark pt-5 ">
        <div class="row pt-4">
            <div class="col-md-6">
                <div class=" ">
                  <ul class="list-inline">
                    <li class="list-inline-item mx-4"><a href="" ><img src="/static/Images/emarketicon.png" height="200px"  style="margin-top: -110px; margin-bottom: -100px; margin-right: -30px;"></a></li>
                    <li class="list-inline-item mx-1"><a href="{% url 'home'%}" class="text-light text-decoration-none">Home</a></li>
                    <li class="list-inline-item mx-1"><a href="{% url 'shop'%}" class="text-light text-decoration-none">Shop</a></li>
                    <li class="list-inline-item mx-1"><a href="{% url 'find'%}" class="text-light text-decoration-none">Contact</a></li>
                  </ul>
                </div>
                <form class="my-5 ml-5">
                    <div class="mb-2 text-light" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">SUBSCRIBE</div>
                  <input type="email" class="bg-transparent text-white" style="outline: none; border:none; border-bottom:1px solid white;">
                  <input type="submit"   class="btn text-light">
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                            <ul class="list-unstyled" style="line-height:30px;">
                                <li><a href="" class="text-light text-decoration-none">Order Status</a></li>
                                <li><a href="" class="text-light text-decoration-none">Shipping and Delivery</a></li>
                                <li><a href="" class="text-light text-decoration-none">Privacy Policy</a></li>
                            </ul>
                    </div>
                    <div class="col-md-6">
                            <ul class="list-unstyled" style="line-height:30px;">
                                <li><a href="" class="text-light text-decoration-none">Payment option</a></li>
                                <li><a href="" class="text-light text-decoration-none">Guides</a></li>
                                <li><a href="" class="text-light text-decoration-none">Term of use</a></li>
                            </ul>
                    </div>
                    <div class="col-md-12 mt-4" style="word-spacing: 10px; font-size: 20px;"> 
                        <a href="https://facebook.com"><i class="fab fa-facebook text-light" data-toggle="tooltip" data-placement="top" title="facebook"></i></a>
                        <a href="https://instagram.com"><abbr title="instagram"><i class="fab fa-instagram text-light"></i></a>
                        <a href="https://pinterest.com"><abbr title="pinterest"><i class="fab fa-pinterest text-light"></i></a>
                        <a href="https://twitter.com"><abbr title="twitter"><i class="fab fa-twitter text-light"></i></a>
                           
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <p class="text-light text-center mb-5">Copyright ©2021 All rights reserved | This is made by <em class="text-warning ">SUKHPAL</em> and <em class="text-warning"> ARCHIT</em></p>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top" class="btn btn-danger px-3 py-2">Top</button>
    <script>
        $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                var mybutton = document.getElementById("myBtn");
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        function topFunction() {
          document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        function opendrop(){
            $("#search-btn-product").click();
        }
        function search_products(){
            var query = document.getElementById('search_query').value;
            $.ajax({
                url:'{% url "filter_product" %}',
                type:'get',
                data:{query:query},
                success:function(data){
                   if(data.products.length>0){
                       var r = "";
                       for(i in data.products){
                           console.log(data);
                           r+="<tr>"
                           r+= "<td><img style='height:50px;' src='/media/"+data.products[i].image+"'></td>";
                           r+= "<td>"+data.products[i].name+"</td>";
                           r+= "<td>"+data.products[i].brand+"</td>";
                           if(data.products[i].of_price==data.products[i].ac_price){
                            r+= "<td>$"+data.products[i].of_price+"</td>";
                           }else{
                               r+="<td>$<del>"+data.products[i].ac_price+"</del> $"+data.products[i].of_price+"</td>"
                           }
                           r+= "<td><a href='/product_detail/?id="+data.products[i].id+"' class='btn btn-sm btn-primary'>View Details</a></td>";
                           r+="</tr>";
                           
                       }
                      
                       if(document.getElementById("search_query").value.length < 1){
                           $(".drops").addClass("d-none").removeClass("d-block")
                       }
                       else if (document.getElementById("search_query").value.length >= 1){
                           $(".drops").addClass("d-block").removeClass("d-none")
                           console.log(r);
                           $("#searched-products").html(r);
                       }
                   }
                }
            })
        }
    </script>
</body>
</html>