{% extends 'base.html'%}
{% block head %}
 <style>


/* / Style the tab / */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
}

/* / Style the buttons that are used to open the tab content / */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* / Change background color of buttons on hover / */
.tab button:hover {
  background-color: #ddd;
}

/* / Create an active/current "tab button" class / */
.tab button.active {
  background-color: #ccc;
}

/* / Style the tab content / */
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  
}
.eff:hover{
  background-color: rgb(224, 224, 224);
  /* color: rgb(255, 255, 255); */
}

 </style>
{% endblock %}
{% block body%}
{% if user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 bg-info text-light">
        {% if data.profile_pic %}
        <img src="/media/{{data.profile_pic}}" style="height: 50px; width: 50px;margin: 10px;float: right; border-radius:50%;">
        {% endif %}
          <p style=" font-size: larger;font-weight: bold;" class="float-right mt-3">Welcome {{user.first_name}} {{user.last_name}}</p>
          <h1 style="font-style: italic; margin: 10px">Dashboard</h1>
      </div>
  
    <div class="tab col-md-2 px-0 ">
    <button class="tablinks" onclick="openbox(event, 'Profile')" id="defaultOpen">View profile</button>
    <button class="tablinks" onclick="openbox(event, 'Setting')">Edit profile</button>
    <button class="tablinks"><a href="{% url 'forgotpass'%}" style="text-decoration: none; color: #000;">Change password</a></button>
    <button class="tablinks" onclick="openbox(event, 'Order')" >My orders</button>
    <button class="tablinks" onclick="openbox(event, 'Favourites')">Favourites</button>
    <button class="tablinks"><a href="{% url 'user_logout'%}" style="text-decoration: none; color: #000;">Logout</a></button>

    </div>
    <div class="tabcontent col-md-6 mx-auto" style="border-right: none;" id="Profile">
      {% if status|length > 0 %}
      <div class="alert alert-primary my-4" id="status" >{{status}}</div>
      {% endif %}
      <div class="card my-4">
        <div class="card-header bg-secondary">
          <h1 class="text-light">My Details</h1>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
                <tr>
                  <th>Username</th>
                  <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>User Email</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                </tr>
                <tr>
                    <th>Last Login</th>
                    <td>{{user.last_login}}</td>
                </tr>
                <tr>
                    <th>Join Date</th>
                    <td>{{user.date_joined}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
    <div id="Order" class="tabcontent col-md-10" >
      <div class="col-md-12 ">
        {% for i in order_history %}
            <div class="card my-5">
                <div class="card-header bg-secondary text-light" >
                    <strong class="float-left">Order ID: {{i.order_id}}</strong>
                    <em class="float-right">Processed On: {{i.date}}</em>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped">
                    {% for j in i.products %}
                            <td><h4>{{j.name}}</h4></td>
                            <td>&#8377; {{j.price}}</td>
                            <td><a href="/product_detail/?id={{j.id}}" target="_blank" class="btn btn-success"><i class="fa fa-eye"></i> View</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="card-footer">
                    <table class="table">
                        <tr>
                            <th>INVOICE ID:{{i.invoice}}</th>
                            <th class="d-flex ">STATUS:
                              {% if i.status %}
                              <p class="btn btn-success py-0"><i class="fa fa-check"></i> Success</p>
                              {% else %}
                              <p class="btn btn-danger py-0" >&times; Pending</p>
                              {% endif %}</th>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    
    </div>
  
    <div id="Setting" class="tabcontent  col-md-10">
      <div class="row">
        <!-- <div class="col-md-12 bg-img py-5 text-center text-light">
            <h1>Dashboard &gt; Edit Profile</h1>
        </div> -->
        <div class="col-md-6 mx-auto p-3 bg-light my-2">
            <div class="text-center">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
                {% else %}
                <i class="far fa-user p-5 " style="font-size: 100px;"></i>
                {% endif %}
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter First Name" value="{{user.first_name}}" >
                            <!-- <i class="fas fa-pen p-5" id="pen"></i> -->
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" value="{{user.last_name}}" >
                        </div>
                        <div class="form-group">
                          <label>Phone Number</label>
                          <input type="text" value="{{user.username}}" id="contact" class="form-control" name="contact" onkeyup="check()" placeholder="Enter Contact Number" pattern="[0-9]{10}" title="Number must contain 10 digits only!!" >
                          <small id="user" class="text-danger"></small>
                      </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{user.email}}" >
                        </div>
                        <div class="form-group">
                            <label>Profile Picture</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                <div class="form-group">
                    <input type="submit" name="changeprofile" value="Save Changes"  id="btnSubmit" class="btn btn-primary btn-block " >
                </div>
            </form>
        </div>
    </div>
    </div>

    <div id="Favourites" class="tabcontent  col-md-10">
      <div id="result"  >
      </div>
    </div>

  </div>
</div>

  
  
  
<script>
   function openbox(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>
<script>
  $(function(){
    setTimeout(function() {
        $('#status').fadeOut('slow');
        }, 5000);
  })
  function check(){
      var num = $('#contact').val();
      $.ajax({
          url:"{% url 'check_user' %}",
          data:{phone_num:num},
          type:"get",
      success:function(data){
          if (data.status == 1){
              output = data.message
              $("#contact").attr("style","border: 2px solid red")
              // $("#btnSubmit").hide(1)
          }
          else{
              output = null
              $("#contact").removeAttr("style","border: 2px solid red")
              // $("#btnSubmit").show(100)
          }
          $("#user").html(output)
      }
  })
}
$(function (){
     $.ajax({
         url:'/all_favourites',
         type:'get',
         success:function(data){
            r = '';
            if(data.favourites.length>1){
              for(v in data.products){
                console.log(data);
                r+='<div class="row eff" id="fav">';
                r+='<div class="col-md-2 my-2">';
                r+='<img src="/media/'+data.products[v].image+'" height="200px">';
                r+='</div>';
                r+='<div class="col-md-4 my-2">';
                r+='<h2>'+data.products[v].name+'';

                r+='</h2>'
                r+='<p class="text-dark">'+data.products[v].brand+'</p>';
                if(data.products[v].of_price==data.products[v].ac_price){
                  r+='<h5>$'+data.products[v].of_price+'</h5>';
                }
                else{
                  r+="<h5><del class='text-secondary'>$"+data.products[v].ac_price+"</del> <span style='font-size:'30px';'>$"+data.products[v].of_price+"</span></h5>"
                }
                r+= "<a href='/product_detail/?id="+data.products[v].id+"' class='btn btn-sm btn-primary'>View Details</a>";
                for(i in data.favourites){
                    if(data.favourites[i]==data.products[v].id){
                      r+='<div class="ml-2 btn btn-sm btn-danger "onclick=add_to_favourite("'+data.products[v].id+'")>Remove</div>'
                    }
                }
                r+='</div>';
                r+='</div>';
              }
             
            }
            else{
              r += '<h1 class="jumbotron my-5">Your Favorite list is empty</h1>'
            }
            $('#result').html(r)
        }
    })
  })
  function add_to_favourite(id){
        $.ajax({
            url:'/add_to_favourite',
            type:'get',
            data:{id:id},
            success:function(data){
                if(data.status==0){
                    alert(data.message);
                }else{
                       if(data.status==2){
                        $("#fav").remove()
                    }
                    else{
                        alert("Somethng went wrong!");
                    }
                }
            }
        })
    }

if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h1 class="alert alert-warning text-center">Please Login First</h1>
    </div>
  </div>
</div>
{%endif%}
{% endblock %}