{%extends 'base.html'%}

    {% block head %}
    <style>
        .img{background:url(/static/Images/wallpaperflare.com_wallpaper.jpg);
             background-size: cover;
             background-attachment: fixed;
             height:200px;
             box-shadow: 0px 0px 11px rgb(197, 197, 197);}
        .heading{font-family: 'Aclonica';}
        a:link{
            text-decoration: none;
        }
        #min,#max{
            font-size: 20px;
        }
        .title{
            font-size: 17px;
            font-weight:500;
        }
        #product{
            height: 350px; 
            width: 260px;
            margin: auto;
        }  
        .bdgicn{
            position: absolute;
            left: 18px;
        }
        .button{
            position: absolute;
            top: 280px;
            left: 90px;
            background: teal;
            color: white;
            
        }
        .button:hover{
            background:hotpink ;
            transition: 1s;
            color: white;
        }
        .hrticn{
          font-size: 30px;
          color: #ffd000;
          position: absolute;
          top: 15px;
          left: 230px;
          /* background: white; */
          
        }
        .titlename{
            margin-bottom: -25px;
            font-size: 20px;
        }
        @media screen and (max-width:450px) {
            .col-md-6{
                margin: auto 40px;
            }
            .hrticn{
                position: absolute;
                left: 230px;
            }
            .button{
                left: 90px;
            }
        }
        /* @media screen and (width:540px) {
               .col-md-6{
                   margin: auto 130px;
               }
               .hrticn{
                   left: 220px;
               }
               .button{
                   left: 80px;
               }
        } */
        @media screen and (width:768px){
            .hrticn{
                left: 200px;
            }
            .button{
                left: 70px;
            }            
            #product{
                width: 110%;
            }
            .bdgicn{
                position: absolute;
                top: 5px;
            }
        }
        @media screen and (width:1024px) {
            .hrticn{
                left: 175px;
            }  
            .button{
                left: 55px;
                bottom: 100px;
            }
            #product{
                width: 110%;
            }
            .bdgicn{
                position: absolute;
                top: 5px;
            }
        }
    </style>
    {% endblock%}
    {% block body %}
    <div class="container-fluid" style="background: rgb(233, 233, 233);">
        <div class="row">
            <div class="col-md-12 img">
                <h2 class="text-center text-dark py-5 my-4 heading">PRODUCTS</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 mt-5 pl-5  ">
                <!-- Categories -->
                <h3 class="font-weight-bold text-center py-4">Categories</h3>
                <div id="categories"></div>
                <script>
                    $.ajax({
                        url:'{% url "all_categories" %}',
                        type:'get',
                        success:function(data){
                            var r = '';
                            var c = 1;
                            for(category in data){
                                r+='<p class="font-weight-bold" data-toggle="collapse" data-target="#collapse'+data[category].id+'" >'+data[category].customer_category_name+'</p>';
                                if(c==1){
                                    r+='<ul class="list-unstyled collapse show" id="collapse'+data[category].id+'">';
                                }
                                else{
                                    r+='<ul class="list-unstyled collapse" id="collapse'+data[category].id+'">';
                                }
                                    for(sub_cat in data[category].products){
                                    r+='<li><a style="cursor:pointer;" onclick="get_products({cat_id:'+data[category].products[sub_cat].id+'})" class="text-secondary">'+data[category].products[sub_cat].category_name+'</a></li>';
                                }
                                r+='</ul>';c++;
                            }
                            $("#categories").html(r);
                        }
                    })
                </script>
                
                <!-- <h5 class="pt-4 pb-2 font-weight-bold">Filter by</h5>
                <p class="mb-1 mt-4 title">Price Range</p>
                    <span id="min">10</span>$<input type="range"  min="10" max="360" value="360" class="slider" id="myRange"><span id="max"></span>$
                <script>
                    var slider = document.getElementById("myRange");
                    var output = document.getElementById("max");
                    output.innerHTML = slider.value;
                    
                    slider.oninput = function() {
                      output.innerHTML = this.value;
                    }
                    </script> -->
                <!-- <p class="mt-4 title">Color</p> -->
                <!-- color selector -->
                <!-- <ul class="d-flex list-unstyled color">
                     <li><a href="#"><div class="mx-1" style="height:30px; width:30px; background: black;"></div></a></li>
                    <li><a href="#"><div class="mx-1 border" style="height:30px; width:30px; background: white;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: blue;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: red;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: grey;"></div></a></li> 
                </ul>
                 <ul class="d-flex list-unstyled">
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: yellow;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: green;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: violet;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: pink;"></div></a></li>
                    <li><a href="#"><div class="mx-1" style="height: 30px; width: 30px; background: orange;"></div></a></li>
                </ul>  -->
                <p class="mt-4 mb-1 title">Brands</p>
                <!-- brands -->
                <ul id="brand">
                    <script>
                        $.ajax({
                            url:'{% url "brand" %}',
                            type:'get',
                            success:function(data){
                                var c ='';
                                for(brand in data){
                                    c+= '<li>';
                                    c+='<a style="color:black;text-transform:uppercase;cursor:pointer" onclick="get_products({brand_id:'+data[brand].id+'})">';
                                    c+= data[brand].brand_name+'</a>';
                                    c+='</li>';
                                }
                                $("#brand").html(c);
                            }
                        })
                    </script>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 mt-5">
                <div class="row mt-5">
                    <div class="col-lg-12 mb-4" style="font-size: 18px;">
                        <div class="d-inline">
                            <!-- Product Quantity -->
                            <span class="text-primary" id="product_found">100</span>
                            <span class="">Products Found</span>
                        </div>
                        <div class="d-inline float-right px-3">
                            <!-- <span>Sort by :</span> -->
                            <!-- Product Sort -->
                            <!-- <form class="d-inline">
                                <select name="pref" style="border: none;background: transparent;">
                                    <option><a href="" class="text-dark">Top Rated</a></option>
                                    <option><a href="" class="text-dark">Newest</a></option>
                                    <option><a href="" class="text-dark">$: High to Low</a></option>
                                    <option><a href="" class="text-dark">$: Low to High</a></option>
                                </select>
                            </form> -->
                        </div>
                    </div> 
                </div>
                <div class="row" id="products"> 
                    <script src="/static/shop.js"></script>    
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
    </script>
    {% endblock %}
