{% extends 'base.html' %}
{% block head %}
<style>
    .map{  width:100%; height: 100%; border: none; border-radius: 2%;}
    .abtinfo{
        color: #fff;
        font-weight: bold;
        font-style: oblique;
        font-size: 20px;
    }
    .input{
        background-color: rgb(227, 227, 228);
    }
    .label{
        font-size: 20px;
    }
</style>
{% endblock  %}
{% block body %}

    <div style="background: url(/static/Images/pexels-suzy-hazelwood-1098515.jpg); background-size: cover; margin: 0px;">
    <div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.452); background-size: 100% 100%;">
        <div class="row py-5" style="margin: 0px;">
                <div class="col-lg-7 "> 
                    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.75769393811!2d2.2770197739280174!3d48.85895068137428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C%20France!5e0!3m2!1sen!2sin!4v1619362961963!5m2!1sen!2sin" class="map"allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class=" col-lg-5 ">
                    <h3 style="font-weight: bolder; font-size: 35px; color:rgb(138, 202, 255);" >Leave Us A Message</h3>
                   {% if message %}
                   <script>
                       alert("{{message}}");
                   </script>
                   {% endif %}
                    <form action="" class="text-light pt-4" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="" class="label">Name</label>
                            <input type="text" class="form-control input" placeholder="Enter Name..." name="name" required="">
                        </div>
                        <div class="form-group">
                            <label for="" class="label">Email</label>
                            <input type="email" class="form-control input" placeholder="Enter Email..." name="email" required="">
                        </div>
                        <div class="form-group">
                            <label for="" class="label">Subject</label>
                            <input type="text" class="form-control input" placeholder="Enter Title..." name="subject" required="">
                        </div>
                        <div class="form-group">
                            <label for="" class="label">Message</label>
                            <textarea name="message" rows="5" class="form-control input" placeholder="What is in your mind?" required=""></textarea>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary btn-lg px-4" value="SEND">
                        </div>
                    </form>
                    <h3 style="font-weight: bolder;font-size: 35px; color:rgb(138, 202, 255);" class="py-4 " >Contact Us</h3>
                    <p class="  abtinfo">Address :<span style="font-family: monospace;"> Jalandhar, Punjab</span></p>
                    <p class=" abtinfo">Telephone :<span style="font-family: monospace;"> 21324-4485 , 3213-3213</span></p>
                </div>

                <div class="col-lg-12">
                    <h1 class="text-light text-center my-5">Previous Feedbacks! ({{all|length}})</h1>
                    <table class="table table-strped table-primary table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Message</th>
                                <th>Received On</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in all %}
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.name}}</td>
                                    <!-- <td>{{i.name.0|upper}}</td> -->
                                    <td>{{i.email}}</td>
                                    <td>{{i.subject}}</td>
                                    <td>{{i.message}}</td>
                                    <td>{{i.received_on}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock %}
