{% extends 'base.html' %}
{% block head %}
<style >
    #asd{background-image:url(/static/images/1\ \(19\).jpg);background-attachment: fixed;background-size:cover;}
    .xz{font-family: Arial, Helvetica, sans-serif; color:slategray;}
    .zx{font-family:-apple-system;font-weight: bold;color: purple;}
    .xzc{font-family:cursive;font-weight: bolder; color: hotpink;}
    .box{
            height:250px;
            overflow: hidden;
        }
        .blgimg{transition: 1s;width:100%;height: 100%;}
        .blgimg:hover{
            transform: scale(2);
        }
        @media screen and (max-width:640px){
            #asd{height: 250px;}
            .m{top:90px}
    .asp{padding: 15px;margin-top: 20px;}
    .zx{font-size: 22px;}
    .xz{margin-top: 20px;}
    .xzc{margin-top: 25px;font-size: 20px;}
    
        }
    @media screen and (min-width:700px){
        #asd{height: 300px;}
        .m{top:110px}
        .asp{padding: 25px;margin-top: 20px;}
    .zx{font-size: 30px;}
    .xz{margin-top: 25px;font-size: 18px;}
    .xzc{margin-top: 25px;font-size: 22px;}
        }
        @media screen and (min-width:880px){
            .m{top: 120px;}
            #asd{height: 400px;}
            .asp{padding:55px;margin-top: 20px;}
    .zx{font-size: 35px;}
    .xz{margin-top: 25px;font-size: 17px;}
    .xzc{margin-top: 10px;margin-bottom: 30px;font-size: 25px;}
        }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid" style="background-color: rgb(247, 228, 247);">
    <div class="row " id="asd" >
        <div class="col-md-12 mx-0" style="background-color: rgba(19, 17, 17, 0.692);">
            <h1 class="text-center m display-3" style="position: relative; color:white;text-shadow:0px 0px 30px rgb(236, 105, 105) ;">Welcome!</h1>
            <div class="line"></div>
        </div>
    </div>
    <div class="row " >
        <div class="col-md-8  asp">
            <h1 class="zx">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perferendis rem accusantium ducimus animi nesciunt expedita omnis aut quas molestias!</h1>
            <p class="xz">Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>
            <p class="xzc text-center"><i class="fas fa-quote-left pr-4"></i>Quisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in dictum tincidunt, dolor nibh lacinia lacus.<i class="fas fa-quote-right pl-4"></i></p>
            <p class="text-center xzc" style="font-family:monospace;font-weight: bolder;color: teal;">Liam Neeson</p>
            <p class="xz">Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-4 ">
            <div class="box row">
                    <img src="/static/images/1.jpg" alt=" ups sorry !" class="blgimg" style="background-size: cover;">
                    <p class="text-white text-center p-2 " style="position: relative;bottom: 150px; font-size: 20px;font-weight: bold;">uisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat.</p>
            </div>
            <div class="box row" >
                    <img src="/static/images/1 (13).jpg" alt="ups sorry !" class="blgimg" style="background-size: cover;">
                    <p class="text-white text-center p-2" style="position: relative;bottom: 150px;font-size: 20px;font-weight: bold;">uisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat.</p>
             </div>
             <div class="box row">
                <img src="/static/images/1 (12).jpg" alt="ups sorry !" class="blgimg" style="background-size: cover;">
                <p class="text-white p-2 text-center" style="position: relative;bottom: 150px; font-size: 20px;font-weight: bold;">uisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat.</p>
         </div>
         <div class="box row">
            <img src="/static/images/1 (14).jpg" alt="ups sorry !" class="blgimg" style="background-size: cover;">
            <p class="text-white p-2 text-center" style="position: relative;bottom: 150px; font-size: 20px;font-weight: bold;">uisque sagittis non ex eget vestibulum. Sed nec ultrices dui. Cras et sagittis erat.</p>
     </div>
        </div>
    </div>
</div>
{% endblock %}
