<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .brand{
            padding-top: 150px;
            background-image: url(/static/Images/1\ \(11\).png) ;
            background-color:rgb(31,184,211);
            background-size: 100% 100%;
            border-radius: 4px 30px 30px 4px;
            border: 2px solid rgb(187, 187, 187);
            border-right: none;
            background-position:left;
            opacity: 1;
            color:#fff;
            min-height: 600px;  
        }
        .loginlink{
            font-size: x-large;
        }
        .colr{
            height: 250px;
            margin-top: -90px;
            margin-bottom: -80px;
            margin-left: -50px;
        }
        .form{
            border: 2px solid rgb(187, 187, 187);
            border-left: none;
            border-radius: 0px 4px 4px 0px;
            height: 550px;
            margin-top: 25px;
        }
        .bg{background-color: rgb(240, 240, 240);}
        @media screen and (max-width:540px) {
            .main{width: 100%;}
            .brand{
                display: none;
            }
            .form{
                border: none;
                margin-top: -11%;
                border-radius: 0%;
            }
            .bg{
                background-color: rgb(255, 255, 255);
            }
        }
        @media screen and (min-width:768px){
            .main{
                width: 95%;
                margin: auto;
            }
        }
        @media screen and (min-width:1100px){
            .main{
                width: 70%;
            }
        }
    </style>
</head>
<body class="bg">
    {% if message %}
    <script>
        alert("{{message}}");
    </script>
    {% endif %}
    <div class="container-fluid  main">
        <div class="row mt-5">
            <div class=" col-md-6 brand">
            </div>
            <div class=" col-md-6 form px-5 pt-3" style="background-color: white;" >
                <a href="/"><img src="/static/Images/emarketicon.png" class="colr"></a>
                <h4 style="font-weight: 300;" class="pt-3">Sign in</h4>
                <form class="text-center pt-1" action=""  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                 </span>
                               </div>
                            <input type="text" class="form-control" id="phone_no" placeholder="Enter Phone Number" name="phone_num" required>
                        </div>
                    </div>
                   <div class="form-group pt-1">
                   <div class="input-group">
                       <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-key"></i>
                         </span>
                       </div>
                        <input type="password" id="pass" class="form-control" name="password" placeholder="Enter Password"required>
                      <div class="input-group-append">
                          <span class="input-group-text">
                             <i class="fas fa-eye" id="icon"></i>
                          </span>
                      </div>
                   </div>
                   </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger btn-lg " value="Sign in" name="sign-in">
                    </div>
                    <div class="pt-1">
                        <p>or sign in with</p>
                        <a href="https://facebook.com"><i class="fab fa-facebook loginlink" style="color: #3b5998;" data-toggle="tooltip" data-placement="top" title="facebook"></i></a>
                        <a href="https://twitter.com"><i class="fab fa-twitter loginlink" style="color: #00acee;" data-toggle="tooltip" data-placement="top" title="twitter"></i></a>
                    </div>
                    <p class="pt-4">Don't Have Account?<a href="" data-toggle="modal" data-target="#regform"> Register</a></p>
                    <p><a href="{% url 'forgotpass'%}" class=""  >Forgot password?</a></p>
                </form>
            </div>
        </div>
        <div class="modal fade" id="regform">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register Here</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>First Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="first_name" placeholder="Enter first name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name<span class="text-danger">*</span></label>
                                <input type="text" name="last_name" class="form-control" placeholder="Enter last name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Phone Number<span class="text-danger">*</span></label>
                            <input type="text" name="phone_number" class="form-control" placeholder="Enter phone number" pattern="\d{10}" id="phone_number" onkeyup="check()"  required>
                            <small id="user" class="text-danger"></small>
                        </div>
                        
                        <div  class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email address" required>
                        </div>
                        <div class="form-group">
                            <label>Password<span class="text-danger">*</span></label>
                            <input type="password" name="password" class="form-control" placeholder="Enter password"  id="txtPassword" required>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password<span class="text-danger">*</span></label>
                            <input type="text" name="confirm_password" class="form-control" placeholder="Confirm password"  id="txtConfirmPassword" onkeyup="confirm()" required>
                            <small id="out" ></small>
                        </div>
                        <div class="form-group pt-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" required><label>TERMS AND CONDITIONS</label>
                            </div>
                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" required><label>SUBSCRIBE TO OUR NEWSLETTER</label>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-block" id="btnSubmit" name="register">
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script>
         $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
        $(function(){
            $("#icon").click(function(){
                var t = $("#pass").attr("type");
                if(t=="password"){
                    $("#pass").attr("type","text");
                    $(this).removeClass("fa-eye").addClass("fa-eye-slash");
                }else{
                    $("#pass").attr("type","password");
                    $(this).removeClass("fa-eye-slash").addClass("fa-eye");
                }
            });
        });
        
        function confirm() {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                output = "Password does not match !!!"
                $("#txtConfirmPassword").attr("style","border: 2px solid red")
                $("#btnSubmit").addClass("disabled")
                $("#out").addClass("text-danger").removeClass("text-success").html(output);
                return false;
            }
            else{
                output = "Password matched !!!"
                $("#btnSubmit").removeClass("disabled")
                $("#txtConfirmPassword").removeAttr("style","border: 2px solid red")
                $("#out").addClass("text-success").removeClass("text-danger").html(output);
                return true;
            }
           
        };
    </script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <script>
            function check(){
                var num = $('#phone_number').val();
                $.ajax({
                    url:"{% url 'check_user' %}",
                    data:{phone_num:num},
                    type:"get",
                success:function(data){
                    if (data.status == 1){
                        output = data.message
                        $("#phone_number").attr("style","border: 2px solid red")
                        $("#btnSubmit").addClass("disabled")
                    }
                    else{
                        output = null
                        $("#phone_number").removeAttr("style","border: 2px solid red")
                        $("#btnSubmit").removeClass("disabled")
                    }
                    $("#user").html(output)
                }
            })
        }
    </script>
    {% if status %}
    <script>
        alert("{{status}}");
    </script>
    {% endif %}
</body>
</html>