{% extends 'base.html'%}
{% block head %}
<style>
    #vc{border: none;height: 40px; width: 200px;text-transform: uppercase;background-color: teal;}
    #vc:hover{background-color: rgb(235, 10, 85);transition: 1s;}
     #c:hover{background-color: rgb(235, 10, 85);transition: 1s;}
    .ln{background-color: rgba(0, 0, 0, 0.300);}
    .ln:hover{background: rgba(199, 2, 2, 0.37); transition: 1s;color: rgb(255, 255, 255); transform: scale(1.5);}
    .primg{transition: 1s;}
    .primg:hover{transform: scale(1.1);}
    #c{width: 100px;height: 40px;position: absolute;top: 250px;right:60px;border: none;background-color: teal;}
    .hmhrticn{
      font-size: 30px;
      color: #ffd000;
      position: absolute;
      top: 15px;
      left: 260px;
    }
    .Indicators{
        color: black;
    }
    @media screen and (max-width:460px){
        .main{height: 300px;padding: 0px;}   
        .front{padding: 0px;} 
        .a{margin: 15px;}
        .qp{position:relative;left: 130px;}
        .hmhrticn{left: 350px;}
        
    }
    @media screen and (min-width:600px){
        .main{height: 300px; }   
        .a{margin: 80px;} 
        .qp{position:relative;left: 50px;bottom: 50px;}
    }
    @media screen and (min-width:1020px){
        .main{height: 500px; padding: 20px;}  
        h2{font-size:80px;}  
        h5{font-size: 30px;}
        .a{margin: auto;padding: 50px;}
        .qp{margin: auto;}
    }
</style>
{% endblock %}
{% block body %}
    <!-- banner start  -->
    <div class="container-fluid">
        <div class="row front-top ">
            <div class="col-12 text-white main" style="background-image: url(/static/Images/couple\ Young.jpg);background-size: cover;background-attachment:scroll;">
                <div class="p-5 mt-5 front">
                    <h5>assos</h5>
                    <h2 class="mt-1 c">New Collection</h2>
                    <a href="{%url 'shop'%}"><input type="button" name="vc" id="vc" value="View Collection" class="mt-4 text-white btn" ></a>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end  -->
    <!-- sub part start  -->
    <div class="contaner-fluid  " >
        <div class="row my-5" style="margin-right: 0px;">
                {% for i in product_category %}
                <div class="col-md-4 my-5 px-5 text-white" style="overflow: hidden;cursor: pointer;">
                    <a href="/shop" style="text-decoration: none;color:white;">
                    <div style="background-image: url(/media/{{i.category_image}}); height: 300px; background-size: cover" class="primg">
                        <div style="background-color: rgba(0,0,0,0.5); background-size: 100% 100%;overflow: hidden;">
                        <div class="text-center ln" style="font-weight: bolder;text-transform: uppercase;font-size:20px;height:100%;padding:120px 20px;">
                            <p class="d-block">{{i.category_name}} </p> 
                            <small style="font-weight: normal;">{{i.customer_category.name}}</small>
                        </div>
                    </div>
                    </div>
                </a>
                </div>
                {% endfor %}
        </div>
    </div>
    <!-- sub part end  -->
    <!-- sale banner start  -->
    <div class="container-fluid">
        <div class="row front-top ">
            <div class="col-12 text-white main" style="background-image: url(/static/Images/pexels-ricardo-esquivel-1964471.jpg);background-size: contain;background-attachment: fixed;">
                <div class="p-5 mt-5 front" style="float: right;">
                    <h5 style="color: rgb(252, 64, 158);">-60%</h5>
                    <h2 class="mt-1" style="color:white;">New Collection</h2>
                    <input type="button" name="vc" id="vc" value="Buy Now" class="mt-4 text-white btn" >
                </div>
            </div>
        </div>
    </div>
    <!-- sale banner end  -->
    <h3 class="text-center mt-5">Latest Products</h3>
    <!-- popular products start  -->
    <div class="container-fluid mt-5 px-0" >
         <!-- Create Slider -->
        <div class="carousel slide" data-ride="carousel" id="abcd" >
            <!-- carousel-indicators  -->
            <ul  class="carousel-indicators Indicators" >
                <li class="active " data-target="#abcd" data-slide-to="0"  style="background: rgb(117, 117, 117);"></li>
                <li  data-target="#abcd"  class="" data-slide-to="1" style="background: rgb(117, 117, 117);" > </li>
            </ul>
            <div class="carousel-inner">
                <script>var i =1;</script>
                {% for product_list in recent_products %}
                <script>if(i==1){
                    document.write('<div class="carousel-item active">');
                }else{
                    document.write('<div class="carousel-item">');
                }
                i++;
                    </script>
                    <div class="row  ">
                        {% for product in product_list %}
                        <div class=" col-md-3 a" id="b{{product.id}}">
                            <div class=" row ">
                                <div class="col-12 ">
                                    <div style="background-image: url(/media/{{product.images.0}});height: 350px;background-size: cover;">
                                        <div class="i{{product.id}}" style="background-image: url(/media/{{product.images.1}});background-size: cover;height: 350px;" ></div>
                                    </div>
                                    <!-- <form method="POST" action="{% url 'cart'%}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{product.id}}" name="pid">
                                        <input type="hidden" value="1" name="qty">
                                        <input type="hidden" value="{{product.images.0}}" name="img">
                                        <input type="hidden" value="{{product.discounted_price}}" name="dis_price">
                                        <input type="submit" name="vc" id="c" value="Add to cart" class="btn text-white qp"  > </div>
                                    </form> -->
                                    <i class="far fa-heart hmhrticn" id="hmheart{{product.id}}" onclick="add_to_favorite('{{product.id}}')"></i>
                                        <div class="badge py-2 ml-1" style="background-color: blue;width: 40px; position: absolute;top: 10px;left: 20px;color: white;text-align: center;">New</div>
                                    <h6 class="mt-2 " style="color: grey;text-transform: uppercase;font-size: 12px;">{{product.brand}}</h6>
                                    <h6 ><a class="text-dark" href="/product_detail/?id={{product.id}}">{{product.name}}</a></h6>
                                    <h6>
                                        {% if product.discounted_price < product.price %}
                                        <del style="color: grey;">${{product.price}}</del> 
                                        <div class="badge py-2 ml-1" style="background-color: rgb(255, 0, 0); position: absolute;top: 50px;left: 20px;color: white;text-align: center;">{{product.dis_per}}% off</div>
                                        ${{product.discounted_price}}
                                        {% else %}
                                        ${{product.price}}</h6>
                                        {% endif %}
                                </div>
                            </div>
                        </div>  
                        <script>
                            $(function(){
                                  $(".i{{product.id}}").hide(1);
                                  $("#b{{product.id}}").mouseenter(function(){
                                      $(".i{{product.id}}").show(100);
                                  });
                                  $("#b{{product.id}}").mouseleave(function(){
                                      $(".i{{product.id}}").hide(100);
                                  });
                              });
                              function add_to_favorite(id){
                                  $.ajax({
                                    url:'/add_to_favourite',
                                    type:'get',
                                    data:{id:id},
                                    success:function(data){
                                        if(data.status==0){
                                            alert(data.message);
                                        }else{
                                            if(data.status==1){
                                                $("#hmheart"+id).removeClass("far fa-heart").addClass("fas fa-heart")
                                            }else if(data.status==2){
                                               $("#hmheart"+id).removeClass("fas fa-heart").addClass("far fa-heart")
                                            }
                                        else{
                                             alert("Somethng went wrong!");
                                            }
                                        }
                                    }
                                  })
                              }
                              $(function (){
                                 $.ajax({
                                     url:'/all_favourites',
                                     type:'get',
                                     success:function(data){
                                        if(data.favourites.length>1){
                                            for(i in data.favourites){
                                                $("#hmheart"+data.favourites[i]).removeClass("far fa-heart").addClass("fas fa-heart")
                                            }
                                        }
                                    }
                                })
                              })
                      </script>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>    
        </div>
        <!-- carousel finished  --> 
    </div>
  <!-- popular products finished  -->
  <div class="container-fluid jumbotron mb-0">
    <div class="row" style="width: 100%; margin: auto;" >
        <div class="col-md-12">
           <div class="row">
                {% for i in all_brands %}
                    <div class="col-md-3 col-sm-12"><img class="my-4" src="/media/{{i.image}}" style="max-width: 100%;" height="30px"></div>
                {% endfor %}
           </div>
        </div>
    </div>
</div>
{% endblock %}